/* [BACKGROUND IMAGES] */
  html,body {
    height: 100%;
    background-image:url(img/background.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position: initial;
  }

  .logo {
    height: initial;
    width: 25%;
    position: relative;
    padding-left: 40%;
    padding-top: 10%;
    }

/* [TEXTES] */

  h6 {
    color: #fff;
    text-align: center;
    font-style: italic;
    top: 2%;
    left: 70%;
    position: relative;
    display: block;

  }

  p {
    color: #fff;
    text-align: left;
    position: absolute;
    left: 50%;
    right: 30%;
    top: 64%;
    font-size: small;
    }
  
  .vertical {
    writing-mode: vertical-rl;
    margin-left: 0;
    background-color: black;
    background-position: block;
    border-left: 2px solid rgb(143, 13, 230);
    width: 25px;
    height: 120px;
    border-top-left-radius: 10px;  
    border-bottom-right-radius: 10px;
    text-align: center;
    position: relative;
    border-left-width: 2px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-right-width: 10px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 15px;
  
  }

/* [FOOTER / INFOS] */

 footer {
  position: absolute;;
  bottom:0;
  width:100%;
  margin-top: 35em;

  }

/* [TEXTE DEFILANT] */

.defileParent {
	display: block;
	margin: 2em auto;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 80%;
}
.defile {
	display:block;
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
	animation:linear marqueelike 20s infinite ;
	margin-left:-100%;
	padding:0 20px;
	text-align:left;
	height:20px;
}


.defile:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }

@media only screen and (max-width: 860px) {
.defileParent {
	display: block;
	margin: 3em auto;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 100%;
}

.defile {
	display:block;
	-webkit-animation:linear marqueelike 50s infinite ;
	-moz-animation:linear marqueelike 50s infinite ;
	-o-animation:linear marqueelike 50s infinite ;
	-ms-animation:linear marqueelike 50s infinite ;
	animation:linear marqueelike 50s infinite ;
	margin-left:-100%;
	padding:0 5px;
	text-align:left;
	height:25px;
}
}



/** [LOADER ANIME COULEURS] **/

.container2 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 62%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 5s ease-in-out infinite;

}

.dot { 
  width: 40px;
  height: 40px;
  border-radius: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #e21d1d;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #5d0be0;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ada208;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}